<div class="row align-items-center"> <!-- aligns item vertically center -->
  <div class="col-md-3 mb-1"> <!-- left column taking up 3/12 width on medium screens, small bottom margin -->
    <img src="/images/self.jpg" class="img-fluid rounded" alt="My profile photo"> <!-- profile image -->
  </div>
  <div class="col-md-8"> <!-- right column taking up 8/12 width on medium screens -->
    <h1 class="mb-3"><i class="fa-solid fa-user-pen"></i> About Me</h1> <!-- heading with pen icon and bottom margin -->
    <p>I’m a second-year Networking and IT student at Ontario Tech.</p> <!-- introductory sentence -->
    <p>I like building and taking apart networks, ethical hacking is a big interest of mine and love to learn new things.</p> <!-- 2nd statement -->
    <p class="mb-0">Currently learning Express, EJS, and Bootstrap to be more practical in my web development.</p> <!-- 3rd statement -->
  </div>
</div> 